
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Test ViewBag And ViewData</h1>

    <span>ViewBag</span>@ViewBag.Name
    <br />
    <span>ViewData</span> @ViewData["Name"]

</body>
</html>
